body {
    background: #2a2a2e;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#book {
    width: 1200px;
    height: calc(100vh - 52px);
    margin: 10px auto 10px auto;
}

#book .turn-page {
    background-color: silver;
    box-shadow: 0px 0px 10px gray;
}


#book .cover {
    background: #333;
}

#book .cover h1 {
    color: white;
    text-align: center;
    font-size: 50px;
    line-height: 500px;
    margin: 0px;
}

#book .loader {
    background-image: url(loading.gif);
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    top: 238px;
    left: 188px;
}

#book .data {
    text-align: center;
    font-size: 40px;
    color: #999;
    line-height: 500px;
}

#controls {
    width: 100%;
    background-color: #38383d;
    padding: 0 10px;
    color: #F9F9FA;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

#controls #page-number {
    padding: 4px 7px;
    margin: 3px 0 3px 0;
    border-radius: 2px;
    border: 1px solid #404044;
    background-color: #2A2A2E;
    color: #F9F9FA;
    font-size: 12px;
}

#controls .left {
    display: flex;
    align-items: center;
}

#controls .left .direction {
    padding: 0 10px;
}

#controls .zoom i {
    padding: 10px;
    cursor: pointer;
}

#controls .download {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

#book .odd {
    background-image: -webkit-linear-gradient(left, #FFF 95%, #ddd 100%);
    background-image: -moz-linear-gradient(left, #FFF 95%, #ddd 100%);
    background-image: -o-linear-gradient(left, #FFF 95%, #ddd 100%);
    background-image: -ms-linear-gradient(left, #FFF 95%, #ddd 100%);
}

#book .even {
    background-image: -webkit-linear-gradient(right, #FFF 95%, #ddd 100%);
    background-image: -moz-linear-gradient(right, #FFF 95%, #ddd 100%);
    background-image: -o-linear-gradient(right, #FFF 95%, #ddd 100%);
    background-image: -ms-linear-gradient(right, #FFF 95%, #ddd 100%);
}
